@{
    ViewData["Title"] = "Landing Page";
}

<div class="horizontal-align-text vertical-align-text overlay">
    <img src="/assets/James-Main-Logo-black.png" class="horizontal-align-text" alt="James Loudspeaker black and white logo" />
    <p class="subtitle"><strong>Failure Logging System</strong></p>
</div>
