@{
    ViewData["Title"] = "Landing";
}

<!-- Landing Page content -->
<div class="overlay">
    <div class="landing-page-div">
        <img src="/assets/James-Main-Logo-black.png" class="center-img" alt="James Loudspeaker black and white logo" />
        <p class="subtitle center"><strong>Failure Logging System</strong></p>
    </div>
</div>
