@{
    ViewData["Title"] = "Add New Record";
}

<div class="row black-text">
    <div class="col-2">
        <h5 class="flex-display horizontal-align-text"><strong>Drivers</strong></h5>
    </div>
    <div class="col-8">
        Something
    </div>
    <div class="col-2">
        Something
    </div>
</div>