@{
    ViewData["Title"] = "Reporting";
}

<!-- Buttons -->
<table>
    <thead>
        <tr class="info-row">
            <th>
                <a asp-controller="Record" asp-action="ViewRecord" class="btn btn-black">Back to List</a>
            </th>
        </tr>
    </thead>
</table>
<div class="row">
    <div class="col-12 flex-display">
        <div class="col-3 white-text reporting-options">
            <!-- Driver Options -->
            <label class="control-label block-display"><strong>Drivers</strong></label>
            <select name="type class="form-control center flex-display additional-options" asp-items="@ViewBag.drivers"><option value="" disabled selected>Select Option</option></select>
            <!-- Discarded Checkbox -->
            <table class="">
                <tr>
                    <td>
                        <input id="type" type="checkbox" name="type" value="0" checked="1" />
                    </td>
                    <td>
                        <label for="type"><strong>Type</strong></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="source" type="checkbox" name="source" value="0" checked="1" />
                    </td>
                    <td>
                        <label for="source"><strong>Source</strong></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="location" type="checkbox" name="location" value="0" checked="1" />
                    </td>
                    <td>
                        <label for="location"><strong>Location</strong></label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-3 datepicker-div">
            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript">
        $(function () {

            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });
    </script>
}