@{
    ViewData["Title"] = "Reporting";
}

<!-- Buttons -->
<table>
    <thead>
        <tr class="info-row">
            <th>
                <a asp-controller="Record" asp-action="ViewRecord" class="btn btn-black">Back to List</a>
            </th>
        </tr>
    </thead>
</table>
<div class="row">
    <div class="col-12 flex-display">
        <div class="col-3 white-text reporting-options">
            <!-- Driver Options -->
            <label class="control-label block-display"><strong>Drivers</strong></label>
            <select name="type class="form-control center flex-display additional-options" asp-items="@ViewBag.drivers"><option value="" disabled selected>Select Option</option></select>
            <!-- Discarded Checkbox -->
            <table class="">
                <tr>
                    <td>
                        <input id="type" type="checkbox" name="type" value="0" checked="1" />
                    </td>
                    <td>
                        <label for="type"><strong>Type</strong></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="source" type="checkbox" name="source" value="0" checked="1" />
                    </td>
                    <td>
                        <label for="source"><strong>Source</strong></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="location" type="checkbox" name="location" value="0" checked="1" />
                    </td>
                    <td>
                        <label for="location"><strong>Location</strong></label>
                    </td>
                </tr>
            </table>
        </div>
        @model DatePicker
        <div class="col-3 form-group">
            <label asp-for="RegisterDate" class="control-label"></label>
            <div class='input-group date' id='datepicker'>
                <input asp-for="RegisterDate" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span asp-validation-for="RegisterDate" class="text-danger"></span>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <script>
        $(function () {
            $('#datepicker').datetimepicker();
        });
    </script>
}