@{
    ViewData["Title"] = "View Records";
}

<!-- Buttons -->
<table class="section1">
    <thead>
        <tr class="info-row">
            <th>
                <a asp-action="Reporting" class="btn btn-black">Reporting</a>
            </th>
            <th>
                <form asp-action="Generate Report">
                    <button type="submit" class="btn btn-black" alt="Generate Report Button">Generate Report</button>
                </form>
            </th>
        </tr>
    </thead>
</table>
<div class="row">
    
    <div class="col-12 flex-display">

    </div>
</div>

<!-- Record List -->
<table class="section2">
    <thead>
        <tr>

        </tr>
    </thead>
</table>